{%extends 'base.html'%}

{%block title%}
  Welcome
{%endblock%}


{%block body%}
  <center class="jumbotron">
    <h1>SLIDER</h1>
  </center>
  <div class="col-md-5 ">
    {%for message in messages%}
      <div class="alert alert-warning">
        {{message}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>

    {%endfor%}
    <h2>what is pro task</h2>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
    {%if user.is_authenticated%}
      {%if user.workat.get%}
        <p><a class="btn btn-primary btn-lg" href="{%url 'main:team_detail' user.workat.get.id%}" role="button">{{user.workat.get.name}}</a></p>
      {%elif not user.team_creator.all %}
        <div class="media text-muted pt-3">
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#abe1b4"/><text x="50%" y="50%" fill="#e83a8c" dy=".3em"></text></svg>
          <p class="media-body pb-3 mb-0 small lh-125  ">

            <strong class="d-block text-gray-dark"><a href="{%url 'main:team_register'%}">Register your Team</a> or <a href="{%url 'main:search_team'%}">search for your team by id</a></strong>
          </p>
          <!-- <b>or</b> -->
          <!-- <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="{%url 'main:team_register'%}">Register your Team</a></strong>
          </p> -->
        </div>
      {%else%}
        <p><a class="btn btn-primary btn-lg" href="{%url 'main:team_detail' user.team_creator.get.id%}" role="button">{{user.team_creator.get.name}}</a></p>
      {%endif%}
    {%endif%}
  </div>
{%endblock%}
