{%extends 'base.html'%}

{%block title%}
  search for users
{%endblock%}

{%block body%}
<a href="{%url 'main:team_detail' team.id%}">back to team</a>

  <form action="." method="post">
    {{form.as_p}}
    <p>separate each username with space or '-'</p>
    {%csrf_token%}
    <input type="submit" class="btn btn-primary" value="add these users">
  </form>
  
  {%for user in user_added%}
  <div class="alert alert-success col-md-4 mt-3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    A request sent to {{user}}.
  </div>
  {%endfor%}
  {%for user in user_exists%}
  <div class="alert alert-warning col-md-4 mt-3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{user}} already exists
  </div>
  {%endfor%}
  {%for user in user_not_found%}
  <div class="alert alert-danger col-md-4 mt-3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{user}} not found
  </div>
  {%endfor%}
  {%for message in messages%}
  <div class="alert alert-warning col-md-4 mt-3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     {{ message }}
  </div>
  {%endfor%}
  <!-- {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %} -->
{%endblock%}
