{%extends 'base.html'%}
{%load static%}


{%block title%}
  Offers to You
{%endblock%}


{%block body%}
<!-- <script src="{%static 'js/main.js'%}"></script> -->
{%if messages%}
  {%for message in messages%}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     {{ message }}
  </div>
  {%endfor%}
{%endif%}

{%if not user.workat.all and not user.team_creator.all%}
  {%if offers%}
    {%for offer in offers%}
      <div id="offer">
        <p class="lead font-weight-normal">{{offer.text}}</p>
        <a href="{%url 'main:accept_invite' offer.from_user.team_creator.get.id%}" class="btn btn-success" onmouseover="remove_offer()">Accept</a>
      </div>
    {%endfor%}
  {%else%}
    <p>there is no offer to you</p>
  {%endif%}
{%elif user.workat.all or user.team_creator.all%}
  <p class="lead font-weight-normal">You have a team</p>
{%endif%}
<hr>
{%endblock%}
